[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-github:before {
***REMOVED*** "\e900";
}
.icon-twitter:before {
***REMOVED*** "\e90b";
}
.icon-arrow-double-down:before {
***REMOVED*** "\e901";
}
.icon-arrdouble-left:before {
***REMOVED*** "\e902";
}
.icon-arrow-double-right:before {
***REMOVED*** "\e903";
}
.icon-arrow-double-up:before {
***REMOVED*** "\e904";
}
.icon-arrow-up:before {
***REMOVED*** "\e908";
}
.icon-arrow-right:before {
***REMOVED*** "\e907";
}
.icon-arrow-down:before {
***REMOVED*** "\e905";
}
.icon-arrow-left:before {
***REMOVED*** "\e906";
}
.icon-nav-up:before {
***REMOVED*** "\e90e";
}
.icon-nav-right:before {
***REMOVED*** "\e90f";
}
.icon-nav-down:before {
***REMOVED*** "\e910";
}
.icon-nav-left:before {
***REMOVED*** "\e911";
}
.icon-calendar:before {
***REMOVED*** "\e909";
}
.icon-camera:before {
***REMOVED*** "\e90a";
}
.icon-write:before {
***REMOVED*** "\e951";
}
.icon-circle-info:before {
***REMOVED*** "\e917";
}
.icon-circle-more:before {
***REMOVED*** "\e919";
}
.icon-comment:before {
***REMOVED*** "\e924";
}
.icon-message-stroke:before {
***REMOVED*** "\e935";
}
.icon-document:before {
***REMOVED*** "\e927";
}
.icon-documents:before {
***REMOVED*** "\e928";
}
.icon-favorite:before {
***REMOVED*** "\e92b";
}
.icon-home-stroke:before {
***REMOVED*** "\e92d";
}
.icon-library:before {
***REMOVED*** "\e930";
}
.icon-link:before {
***REMOVED*** "\e954";
  color: #000;
}
.icon-location:before {
***REMOVED*** "\e932";
}
.icon-lock:before {
***REMOVED*** "\e933";
}
.icon-search-stroke:before {
***REMOVED*** "\e93f";
}
.icon-tag:before {
***REMOVED*** "\e946";
}
.icon-time:before {
***REMOVED*** "\e947";
}
.icon-user-stroke:before {
***REMOVED*** "\e94c";
}
.icon-video:before {
***REMOVED*** "\e94d";
}
.icon-vote:before {
***REMOVED*** "\e950";
}
