.highlight {
  display: block;
  width: 100%;
  overflow-x: auto;
  font-size: 14px;
  line-height: 16px;
  background-color: #272822;
  background-image: linear-gradient(#353535, #353535);
  background-repeat: repeat-x;
  background-size: 100% 28px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.***REMOVED***before {
***REMOVED*** 'code';
  display: block;
  padding: 0 8px;
  line-height: 28px;
  color: #989898;
  text-transform: capitalize;
}
.highlight[class~="1c"]:before {
***REMOVED*** "1c";
}
.highlight[class~="abnf"]:before {
***REMOVED*** "abnf";
}
.highlight[class~="accesslog"]:before {
***REMOVED*** "accesslog";
}
.highlight[class~="actionscript"]:before {
***REMOVED*** "actionscript";
}
.highlight[class~="ada"]:before {
***REMOVED*** "ada";
}
.highlight[class~="apache"]:before {
***REMOVED*** "apache";
}
.highlight[class~="applescript"]:before {
***REMOVED*** "applescript";
}
.highlight[class~="cpp"]:before {
***REMOVED*** "cpp";
}
.highlight[class~="arduino"]:before {
***REMOVED*** "arduino";
}
.highlight[class~="armasm"]:before {
***REMOVED*** "armasm";
}
.highlight[class~="xml"]:before {
***REMOVED*** "xml";
}
.highlight[class~="asciidoc"]:before {
***REMOVED*** "asciidoc";
}
.highlight[class~="aspectj"]:before {
***REMOVED*** "aspectj";
}
.highlight[class~="autohotkey"]:before {
***REMOVED*** "autohotkey";
}
.highlight[class~="autoit"]:before {
***REMOVED*** "autoit";
}
.highlight[class~="avrasm"]:before {
***REMOVED*** "avrasm";
}
.highlight[class~="awk"]:before {
***REMOVED*** "awk";
}
.highlight[class~="axapta"]:before {
***REMOVED*** "axapta";
}
.highlight[class~="bash"]:before {
***REMOVED*** "bash";
}
.highlight[class~="basic"]:before {
***REMOVED*** "basic";
}
.highlight[class~="bnf"]:before {
***REMOVED*** "bnf";
}
.highlight[class~="brainfuck"]:before {
***REMOVED*** "brainfuck";
}
.highlight[class~="cal"]:before {
***REMOVED*** "cal";
}
.highlight[class~="capnproto"]:before {
***REMOVED*** "capnproto";
}
.highlight[class~="ceylon"]:before {
***REMOVED*** "ceylon";
}
.highlight[class~="clean"]:before {
***REMOVED*** "clean";
}
.highlight[class~="clojure"]:before {
***REMOVED*** "clojure";
}
.highlight[class~="clojure-repl"]:before {
***REMOVED*** "clojure-repl";
}
.highlight[class~="cmake"]:before {
***REMOVED*** "cmake";
}
.highlight[class~="coffeescript"]:before {
***REMOVED*** "coffeescript";
}
.highlight[class~="coq"]:before {
***REMOVED*** "coq";
}
.highlight[class~="cos"]:before {
***REMOVED*** "cos";
}
.highlight[class~="crmsh"]:before {
***REMOVED*** "crmsh";
}
.highlight[class~="crystal"]:before {
***REMOVED*** "crystal";
}
.highlight[class~="cs"]:before {
***REMOVED*** "cs";
}
.highlight[class~="csp"]:before {
***REMOVED*** "csp";
}
.highlight[class~="css"]:before {
***REMOVED*** "css";
}
.highlight[class~="d"]:before {
***REMOVED*** "d";
}
.highlight[class~="markdown"]:before {
***REMOVED*** "markdown";
}
.highlight[class~="dart"]:before {
***REMOVED*** "dart";
}
.highlight[class~="delphi"]:before {
***REMOVED*** "delphi";
}
.highlight[class~="diff"]:before {
***REMOVED*** "diff";
}
.highlight[class~="django"]:before {
***REMOVED*** "django";
}
.highlight[class~="dns"]:before {
***REMOVED*** "dns";
}
.highlight[class~="dockerfile"]:before {
***REMOVED*** "dockerfile";
}
.highlight[class~="dos"]:before {
***REMOVED*** "dos";
}
.highlight[class~="dsconfig"]:before {
***REMOVED*** "dsconfig";
}
.highlight[class~="dts"]:before {
***REMOVED*** "dts";
}
.highlight[class~="dust"]:before {
***REMOVED*** "dust";
}
.highlight[class~="ebnf"]:before {
***REMOVED*** "ebnf";
}
.highlight[class~="elixir"]:before {
***REMOVED*** "elixir";
}
.highlight[class~="elm"]:before {
***REMOVED*** "elm";
}
.highlight[class~="ruby"]:before {
***REMOVED*** "ruby";
}
.highlight[class~="erb"]:before {
***REMOVED*** "erb";
}
.highlight[class~="erlang-repl"]:before {
***REMOVED*** "erlang-repl";
}
.highlight[class~="erlang"]:before {
***REMOVED*** "erlang";
}
.highlight[class~="excel"]:before {
***REMOVED*** "excel";
}
.highlight[class~="fix"]:before {
***REMOVED*** "fix";
}
.highlight[class~="flix"]:before {
***REMOVED*** "flix";
}
.highlight[class~="fortran"]:before {
***REMOVED*** "fortran";
}
.highlight[class~="fsharp"]:before {
***REMOVED*** "fsharp";
}
.highlight[class~="gams"]:before {
***REMOVED*** "gams";
}
.highlight[class~="gauss"]:before {
***REMOVED*** "gauss";
}
.highlight[class~="gcode"]:before {
***REMOVED*** "gcode";
}
.highlight[class~="gherkin"]:before {
***REMOVED*** "gherkin";
}
.highlight[class~="glsl"]:before {
***REMOVED*** "glsl";
}
.highlight[class~="go"]:before {
***REMOVED*** "go";
}
.highlight[class~="golo"]:before {
***REMOVED*** "golo";
}
.highlight[class~="gradle"]:before {
***REMOVED*** "gradle";
}
.highlight[class~="groovy"]:before {
***REMOVED*** "groovy";
}
.highlight[class~="haml"]:before {
***REMOVED*** "haml";
}
.highlight[class~="handlebars"]:before {
***REMOVED*** "handlebars";
}
.highlight[class~="haskell"]:before {
***REMOVED*** "haskell";
}
.highlight[class~="haxe"]:before {
***REMOVED*** "haxe";
}
.highlight[class~="hsp"]:before {
***REMOVED*** "hsp";
}
.highlight[class~="htmlbars"]:before {
***REMOVED*** "htmlbars";
}
.highlight[class~="http"]:before {
***REMOVED*** "http";
}
.highlight[class~="hy"]:before {
***REMOVED*** "hy";
}
.highlight[class~="inform7"]:before {
***REMOVED*** "inform7";
}
.highlight[class~="ini"]:before {
***REMOVED*** "ini";
}
.highlight[class~="irpf90"]:before {
***REMOVED*** "irpf90";
}
.highlight[class~="java"]:before {
***REMOVED*** "java";
}
.highlight[class~="javascript"]:before {
***REMOVED*** "javascript";
}
.highlight[class~="jboss-cli"]:before {
***REMOVED*** "jboss-cli";
}
.highlight[class~="json"]:before {
***REMOVED*** "json";
}
.highlight[class~="julia"]:before {
***REMOVED*** "julia";
}
.highlight[class~="julia-repl"]:before {
***REMOVED*** "julia-repl";
}
.highlight[class~="kotlin"]:before {
***REMOVED*** "kotlin";
}
.highlight[class~="lasso"]:before {
***REMOVED*** "lasso";
}
.highlight[class~="ldif"]:before {
***REMOVED*** "ldif";
}
.highlight[class~="leaf"]:before {
***REMOVED*** "leaf";
}
.highlight[class~="less"]:before {
***REMOVED*** "less";
}
.highlight[class~="lisp"]:before {
***REMOVED*** "lisp";
}
.highlight[class~="livecodeserver"]:before {
***REMOVED*** "livecodeserver";
}
.highlight[class~="livescript"]:before {
***REMOVED*** "livescript";
}
.highlight[class~="llvm"]:before {
***REMOVED*** "llvm";
}
.highlight[class~="lsl"]:before {
***REMOVED*** "lsl";
}
.highlight[class~="lua"]:before {
***REMOVED*** "lua";
}
.highlight[class~="makefile"]:before {
***REMOVED*** "makefile";
}
.highlight[class~="mathematica"]:before {
***REMOVED*** "mathematica";
}
.highlight[class~="matlab"]:before {
***REMOVED*** "matlab";
}
.highlight[class~="maxima"]:before {
***REMOVED*** "maxima";
}
.highlight[class~="mel"]:before {
***REMOVED*** "mel";
}
.highlight[class~="mercury"]:before {
***REMOVED*** "mercury";
}
.highlight[class~="mipsasm"]:before {
***REMOVED*** "mipsasm";
}
.highlight[class~="mizar"]:before {
***REMOVED*** "mizar";
}
.highlight[class~="perl"]:before {
***REMOVED*** "perl";
}
.highlight[class~="mojolicious"]:before {
***REMOVED*** "mojolicious";
}
.highlight[class~="monkey"]:before {
***REMOVED*** "monkey";
}
.highlight[class~="moonscript"]:before {
***REMOVED*** "moonscript";
}
.highlight[class~="n1ql"]:before {
***REMOVED*** "n1ql";
}
.highlight[class~="nginx"]:before {
***REMOVED*** "nginx";
}
.highlight[class~="nimrod"]:before {
***REMOVED*** "nimrod";
}
.highlight[class~="nix"]:before {
***REMOVED*** "nix";
}
.highlight[class~="nsis"]:before {
***REMOVED*** "nsis";
}
.highlight[class~="objectivec"]:before {
***REMOVED*** "objectivec";
}
.highlight[class~="ocaml"]:before {
***REMOVED*** "ocaml";
}
.highlight[class~="openscad"]:before {
***REMOVED*** "openscad";
}
.highlight[class~="oxygene"]:before {
***REMOVED*** "oxygene";
}
.highlight[class~="parser3"]:before {
***REMOVED*** "parser3";
}
.highlight[class~="pf"]:before {
***REMOVED*** "pf";
}
.highlight[class~="php"]:before {
***REMOVED*** "php";
}
.highlight[class~="pony"]:before {
***REMOVED*** "pony";
}
.highlight[class~="powershell"]:before {
***REMOVED*** "powershell";
}
.highlight[class~="processing"]:before {
***REMOVED*** "processing";
}
.highlight[class~="profile"]:before {
***REMOVED*** "profile";
}
.highlight[class~="prolog"]:before {
***REMOVED*** "prolog";
}
.highlight[class~="protobuf"]:before {
***REMOVED*** "protobuf";
}
.highlight[class~="puppet"]:before {
***REMOVED*** "puppet";
}
.highlight[class~="purebasic"]:before {
***REMOVED*** "purebasic";
}
.highlight[class~="python"]:before {
***REMOVED*** "python";
}
.highlight[class~="q"]:before {
***REMOVED*** "q";
}
.highlight[class~="qml"]:before {
***REMOVED*** "qml";
}
.highlight[class~="r"]:before {
***REMOVED*** "r";
}
.highlight[class~="rib"]:before {
***REMOVED*** "rib";
}
.highlight[class~="roboconf"]:before {
***REMOVED*** "roboconf";
}
.highlight[class~="routeros"]:before {
***REMOVED*** "routeros";
}
.highlight[class~="rsl"]:before {
***REMOVED*** "rsl";
}
.highlight[class~="ruleslanguage"]:before {
***REMOVED*** "ruleslanguage";
}
.highlight[class~="rust"]:before {
***REMOVED*** "rust";
}
.highlight[class~="scala"]:before {
***REMOVED*** "scala";
}
.highlight[class~="scheme"]:before {
***REMOVED*** "scheme";
}
.highlight[class~="scilab"]:before {
***REMOVED*** "scilab";
}
.highlight[class~="scss"]:before {
***REMOVED*** "scss";
}
.highlight[class~="shell"]:before {
***REMOVED*** "shell";
}
.highlight[class~="smali"]:before {
***REMOVED*** "smali";
}
.highlight[class~="smalltalk"]:before {
***REMOVED*** "smalltalk";
}
.highlight[class~="sml"]:before {
***REMOVED*** "sml";
}
.highlight[class~="sqf"]:before {
***REMOVED*** "sqf";
}
.highlight[class~="sql"]:before {
***REMOVED*** "sql";
}
.highlight[class~="stan"]:before {
***REMOVED*** "stan";
}
.highlight[class~="stata"]:before {
***REMOVED*** "stata";
}
.highlight[class~="step21"]:before {
***REMOVED*** "step21";
}
.highlight[class~="stylus"]:before {
***REMOVED*** "stylus";
}
.highlight[class~="subunit"]:before {
***REMOVED*** "subunit";
}
.highlight[class~="swift"]:before {
***REMOVED*** "swift";
}
.highlight[class~="taggerscript"]:before {
***REMOVED*** "taggerscript";
}
.highlight[class~="yaml"]:before {
***REMOVED*** "yaml";
}
.highlight[class~="tap"]:before {
***REMOVED*** "tap";
}
.highlight[class~="tcl"]:before {
***REMOVED*** "tcl";
}
.highlight[class~="tex"]:before {
***REMOVED*** "tex";
}
.highlight[class~="thrift"]:before {
***REMOVED*** "thrift";
}
.highlight[class~="tp"]:before {
***REMOVED*** "tp";
}
.highlight[class~="twig"]:before {
***REMOVED*** "twig";
}
.highlight[class~="typescript"]:before {
***REMOVED*** "typescript";
}
.highlight[class~="vala"]:before {
***REMOVED*** "vala";
}
.highlight[class~="vbnet"]:before {
***REMOVED*** "vbnet";
}
.highlight[class~="vbscript"]:before {
***REMOVED*** "vbscript";
}
.highlight[class~="vbscript-html"]:before {
***REMOVED*** "vbscript-html";
}
.highlight[class~="verilog"]:before {
***REMOVED*** "verilog";
}
.highlight[class~="vhdl"]:before {
***REMOVED*** "vhdl";
}
.highlight[class~="vim"]:before {
***REMOVED*** "vim";
}
.highlight[class~="x86asm"]:before {
***REMOVED*** "x86asm";
}
.highlight[class~="xl"]:before {
***REMOVED*** "xl";
}
.highlight[class~="xquery"]:before {
***REMOVED*** "xquery";
}
.highlight[class~="zephir"]:before {
***REMOVED*** "zephir";
}
.highlight[class~=// aliases "as"]:before {
***REMOVED*** "as";
}
.highlight[class~="apacheconf"]:before {
***REMOVED*** "apacheconf";
}
.highlight[class~="osascript"]:before {
***REMOVED*** "osascript";
}
.highlight[class~="c"]:before {
***REMOVED*** "c";
}
.highlight[class~="cc"]:before {
***REMOVED*** "cc";
}
.highlight[class~="h"]:before {
***REMOVED*** "h";
}
.highlight[class~="c++"]:before {
***REMOVED*** "c++";
}
.highlight[class~="h++"]:before {
***REMOVED*** "h++";
}
.highlight[class~="hpp"]:before {
***REMOVED*** "hpp";
}
.highlight[class~="arm"]:before {
***REMOVED*** "arm";
}
.highlight[class~="html"]:before {
***REMOVED*** "html";
}
.highlight[class~="xhtml"]:before {
***REMOVED*** "xhtml";
}
.highlight[class~="rss"]:before {
***REMOVED*** "rss";
}
.highlight[class~="atom"]:before {
***REMOVED*** "atom";
}
.highlight[class~="xjb"]:before {
***REMOVED*** "xjb";
}
.highlight[class~="xsd"]:before {
***REMOVED*** "xsd";
}
.highlight[class~="xsl"]:before {
***REMOVED*** "xsl";
}
.highlight[class~="plist"]:before {
***REMOVED*** "plist";
}
.highlight[class~="adoc"]:before {
***REMOVED*** "adoc";
}
.highlight[class~="ahk"]:before {
***REMOVED*** "ahk";
}
.highlight[class~="sh"]:before {
***REMOVED*** "sh";
}
.highlight[class~="zsh"]:before {
***REMOVED*** "zsh";
}
.highlight[class~="bf"]:before {
***REMOVED*** "bf";
}
.highlight[class~="capnp"]:before {
***REMOVED*** "capnp";
}
.highlight[class~="icl"]:before {
***REMOVED*** "icl";
}
.highlight[class~="dcl"]:before {
***REMOVED*** "dcl";
}
.highlight[class~="clj"]:before {
***REMOVED*** "clj";
}
.highlight[class~="cmake.in"]:before {
***REMOVED*** "cmake.in";
}
.highlight[class~="coffee"]:before {
***REMOVED*** "coffee";
}
.highlight[class~="cson"]:before {
***REMOVED*** "cson";
}
.highlight[class~="iced"]:before {
***REMOVED*** "iced";
}
.highlight[class~="cls"]:before {
***REMOVED*** "cls";
}
.highlight[class~="crm"]:before {
***REMOVED*** "crm";
}
.highlight[class~="pcmk"]:before {
***REMOVED*** "pcmk";
}
.highlight[class~="cr"]:before {
***REMOVED*** "cr";
}
.highlight[class~="csharp"]:before {
***REMOVED*** "csharp";
}
.highlight[class~="md"]:before {
***REMOVED*** "md";
}
.highlight[class~="mkdown"]:before {
***REMOVED*** "mkdown";
}
.highlight[class~="mkd"]:before {
***REMOVED*** "mkd";
}
.highlight[class~="dpr"]:before {
***REMOVED*** "dpr";
}
.highlight[class~="dfm"]:before {
***REMOVED*** "dfm";
}
.highlight[class~="pas"]:before {
***REMOVED*** "pas";
}
.highlight[class~="pascal"]:before {
***REMOVED*** "pascal";
}
.highlight[class~="freepascal"]:before {
***REMOVED*** "freepascal";
}
.highlight[class~="lazarus"]:before {
***REMOVED*** "lazarus";
}
.highlight[class~="lpr"]:before {
***REMOVED*** "lpr";
}
.highlight[class~="lfm"]:before {
***REMOVED*** "lfm";
}
.highlight[class~="patch"]:before {
***REMOVED*** "patch";
}
.highlight[class~="jinja"]:before {
***REMOVED*** "jinja";
}
.highlight[class~="bind"]:before {
***REMOVED*** "bind";
}
.highlight[class~="zone"]:before {
***REMOVED*** "zone";
}
.highlight[class~="docker"]:before {
***REMOVED*** "docker";
}
.highlight[class~="bat"]:before {
***REMOVED*** "bat";
}
.highlight[class~="cmd"]:before {
***REMOVED*** "cmd";
}
.highlight[class~="dst"]:before {
***REMOVED*** "dst";
}
.highlight[class~="rb"]:before {
***REMOVED*** "rb";
}
.highlight[class~="gemspec"]:before {
***REMOVED*** "gemspec";
}
.highlight[class~="podspec"]:before {
***REMOVED*** "podspec";
}
.highlight[class~="thor"]:before {
***REMOVED*** "thor";
}
.highlight[class~="irb"]:before {
***REMOVED*** "irb";
}
.highlight[class~="erl"]:before {
***REMOVED*** "erl";
}
.highlight[class~="xlsx"]:before {
***REMOVED*** "xlsx";
}
.highlight[class~="xls"]:before {
***REMOVED*** "xls";
}
.highlight[class~="f90"]:before {
***REMOVED*** "f90";
}
.highlight[class~="f95"]:before {
***REMOVED*** "f95";
}
.highlight[class~="fs"]:before {
***REMOVED*** "fs";
}
.highlight[class~="gms"]:before {
***REMOVED*** "gms";
}
.highlight[class~="gss"]:before {
***REMOVED*** "gss";
}
.highlight[class~="nc"]:before {
***REMOVED*** "nc";
}
.highlight[class~="feature"]:before {
***REMOVED*** "feature";
}
.highlight[class~="golang"]:before {
***REMOVED*** "golang";
}
.highlight[class~="hbs"]:before {
***REMOVED*** "hbs";
}
.highlight[class~="html.hbs"]:before {
***REMOVED*** "html.hbs";
}
.highlight[class~="html.handlebars"]:before {
***REMOVED*** "html.handlebars";
}
.highlight[class~="hs"]:before {
***REMOVED*** "hs";
}
.highlight[class~="hx"]:before {
***REMOVED*** "hx";
}
.highlight[class~="https"]:before {
***REMOVED*** "https";
}
.highlight[class~="hylang"]:before {
***REMOVED*** "hylang";
}
.highlight[class~="i7"]:before {
***REMOVED*** "i7";
}
.highlight[class~="toml"]:before {
***REMOVED*** "toml";
}
.highlight[class~="jsp"]:before {
***REMOVED*** "jsp";
}
.highlight[class~="js"]:before {
***REMOVED*** "js";
}
.highlight[class~="jsx"]:before {
***REMOVED*** "jsx";
}
.highlight[class~="wildfly-cli"]:before {
***REMOVED*** "wildfly-cli";
}
.highlight[class~="ls"]:before {
***REMOVED*** "ls";
}
.highlight[class~="lassoscript"]:before {
***REMOVED*** "lassoscript";
}
.highlight[class~="mk"]:before {
***REMOVED*** "mk";
}
.highlight[class~="mak"]:before {
***REMOVED*** "mak";
}
.highlight[class~="mma"]:before {
***REMOVED*** "mma";
}
.highlight[class~="m"]:before {
***REMOVED*** "m";
}
.highlight[class~="moo"]:before {
***REMOVED*** "moo";
}
.highlight[class~="mips"]:before {
***REMOVED*** "mips";
}
.highlight[class~="pl"]:before {
***REMOVED*** "pl";
}
.highlight[class~="pm"]:before {
***REMOVED*** "pm";
}
.highlight[class~="moon"]:before {
***REMOVED*** "moon";
}
.highlight[class~="nginxconf"]:before {
***REMOVED*** "nginxconf";
}
.highlight[class~="nim"]:before {
***REMOVED*** "nim";
}
.highlight[class~="nixos"]:before {
***REMOVED*** "nixos";
}
.highlight[class~="mm"]:before {
***REMOVED*** "mm";
}
.highlight[class~="objc"]:before {
***REMOVED*** "objc";
}
.highlight[class~="obj-c"]:before {
***REMOVED*** "obj-c";
}
.highlight[class~="ml"]:before {
***REMOVED*** "ml";
}
.highlight[class~="scad"]:before {
***REMOVED*** "scad";
}
.highlight[class~="pf.conf"]:before {
***REMOVED*** "pf.conf";
}
.highlight[class~="php3"]:before {
***REMOVED*** "php3";
}
.highlight[class~="php4"]:before {
***REMOVED*** "php4";
}
.highlight[class~="php5"]:before {
***REMOVED*** "php5";
}
.highlight[class~="php6"]:before {
***REMOVED*** "php6";
}
.highlight[class~="ps"]:before {
***REMOVED*** "ps";
}
.highlight[class~="pp"]:before {
***REMOVED*** "pp";
}
.highlight[class~="pb"]:before {
***REMOVED*** "pb";
}
.highlight[class~="pbi"]:before {
***REMOVED*** "pbi";
}
.highlight[class~="py"]:before {
***REMOVED*** "py";
}
.highlight[class~="gyp"]:before {
***REMOVED*** "gyp";
}
.highlight[class~="k"]:before {
***REMOVED*** "k";
}
.highlight[class~="kdb"]:before {
***REMOVED*** "kdb";
}
.highlight[class~="qt"]:before {
***REMOVED*** "qt";
}
.highlight[class~="graph"]:before {
***REMOVED*** "graph";
}
.highlight[class~="instances"]:before {
***REMOVED*** "instances";
}
.highlight[class~="mikrotik"]:before {
***REMOVED*** "mikrotik";
}
.highlight[class~="rs"]:before {
***REMOVED*** "rs";
}
.highlight[class~="sci"]:before {
***REMOVED*** "sci";
}
.highlight[class~="console"]:before {
***REMOVED*** "console";
}
.highlight[class~="st"]:before {
***REMOVED*** "st";
}
.highlight[class~="do"]:before {
***REMOVED*** "do";
}
.highlight[class~="ado"]:before {
***REMOVED*** "ado";
}
.highlight[class~="p21"]:before {
***REMOVED*** "p21";
}
.highlight[class~="step"]:before {
***REMOVED*** "step";
}
.highlight[class~="stp"]:before {
***REMOVED*** "stp";
}
.highlight[class~="styl"]:before {
***REMOVED*** "styl";
}
.highlight[class~="yml"]:before {
***REMOVED*** "yml";
}
.highlight[class~="YAML"]:before {
***REMOVED*** "YAML";
}
.highlight[class~="tk"]:before {
***REMOVED*** "tk";
}
.highlight[class~="craftcms"]:before {
***REMOVED*** "craftcms";
}
.highlight[class~="ts"]:before {
***REMOVED*** "ts";
}
.highlight[class~="vb"]:before {
***REMOVED*** "vb";
}
.highlight[class~="vbs"]:before {
***REMOVED*** "vbs";
}
.highlight[class~="v"]:before {
***REMOVED*** "v";
}
.highlight[class~="sv"]:before {
***REMOVED*** "sv";
}
.highlight[class~="svh"]:before {
***REMOVED*** "svh";
}
.highlight[class~="tao"]:before {
***REMOVED*** "tao";
}
.highlight[class~="xpath"]:before {
***REMOVED*** "xpath";
}
.highlight[class~="xq"]:before {
***REMOVED*** "xq";
}
.highlight[class~="zep"]:before {
***REMOVED*** "zep";
}
.highlight .gutter {
  width: 30px;
}
.highlight .gutter pre {
  padding-right: 8px;
  padding-left: 8px;
  color: #90908a;
  text-align: right;
}
.highlight,
.highlight .tag,
.highlight .subst {
  color: #f8f8f2;
}
.highlight .strong,
.highlight .emphasis {
  color: #a8a8a2;
}
.highlight .bullet,
.highlight .quote,
.highlight .number,
.highlight .regexp,
.highlight .literal,
.highlight .link {
  color: #ae81ff;
}
.highlight .code,
.highlight .title,
.highlight .section,
.highlight .selector-class {
  color: #fff;
}
.highlight .strong {
  font-weight: bold;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .keyword,
.highlight .selector-tag,
.highlight .name {
  color: #f92672;
}
.highlight .attr {
  color: #a6e22c;
}
.highlight .symbol,
.highlight .attribute {
  color: #66d9ef;
}
.highlight .params {
  color: #fd9720;
}
.highlight .class .title,
.highlight .function .title {
  color: #a6e22e;
}
.highlight .string,
.highlight .type,
.highlight .built_in,
.highlight .builtin-name,
.highlight .selector-id,
.highlight .selector-attr,
.highlight .selector-pseudo,
.highlight .addition,
.highlight .variable,
.highlight .template-variable {
  color: #e6db74;
}
.highlight .comment,
.highlight .deletion,
.highlight .meta {
  color: #75715e;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight table {
  margin-bottom: 0;
}
.markdown-body .highlight table tr {
  background-color: transparent;
  border-top: none;
}
.markdown-body .highlight table td {
  padding: 0;
  border: none;
}
.markdown-body .highlight pre {
  margin-bottom: 0;
  background-color: transparent;
  border-radius: 0;
}
